* {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.siteContent {
  display: flex;
  flex-direction: column;
}

/* All content in top container */
.topcontent {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

/* All header content */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.header p {
  font-size: 24px;
  color: #f9faf8;
  text-align: center;
}

.headerlinks {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 10px;
}

.headerlinks p {
  font-size: 18px;
  color: #e5e7eb;
}
/* All content under header */

.underHeader {
  margin-top: 70px;
  display: flex;
  padding: 10px;
  height: 400px;
  justify-content: center;
  gap: 5px;
}

.topcontentleft {
  background-color: #1f2937;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1 1 0;
  flex-wrap: wrap;
  margin-left: 100px;
}
.topcontentleft .hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.topcontentleft .secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.topcontentleft button {
  background-color: #3882f6;
  border: none;
  margin-bottom: 10px;
  color: #e5e7eb;
  padding: 10px 20px;
}

.topcontentleft .button {
  flex-wrap: wrap;
}

.topcontentright {
  background-color: #1f2937;
  width: 300px;
  height: 250px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.topcontentright .image {
  background-color: #e5e7eb;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* Second container info */
.infocontent {
  background-color: antiquewhite;
  width: 1000px;
  height: 300px;
}





/* third container info */
.qoutecontent {
  background-color: rgb(218, 175, 118);
  width: 1000px;
  height: 300px;
}

/* Bottom content  */
.bottomcontent {
  background-color: rgb(171, 204, 170);
  width: 1000px;
  height: 200px;
}

/* Footer content */
.Fottercontent {
  background-color: rgb(196, 136, 231);
}
