* {
  margin: 0;
  padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

.siteContent {
  display: flex;
  flex-direction: column;
}

/* All content in top container */
.topcontent {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

/* All header content */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.header p {
  font-size: 24px;
  color: #f9faf8;
  text-align: center;
}

.headerlinks {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 10px;
}

.headerlinks p {
  font-size: 18px;
  color: #e5e7eb;
  cursor: pointer;
}
/* All content under header */

.underHeader {
  margin-top: 70px;
  display: flex;
  padding: 10px;
  height: 400px;
  justify-content: center;
  gap: 5px;
}

.topcontentleft {
  background-color: #1f2937;
  width: 300px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1 1 0;
  flex-wrap: wrap;
  margin-left: 100px;
  gap: 10px;
}
.topcontentleft .hero {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.topcontentleft .secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.topcontentleft button {
  background-color: #3882f6;
  border: none;
  margin-bottom: 10px;
  color: #e5e7eb;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.topcontentleft .button {
  flex-wrap: wrap;
}

.topcontentright {
  background-color: #1f2937;
  width: 300px;
  height: 250px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.topcontentright .image {
  background-color: #7b7b7c;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagep p {
  font-size: 18px;
  color: #e5e7eb;
}

/* Second container info */
.infocontent {
  background-color: #f9faf8;

  display: flex;
  flex-direction: column;
  flex: 1;
}

.infohead {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
}
.infocontent p {
  text-align: center;
  flex-wrap: wrap;
  padding: 10px;
}

.container {
  padding: 10px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-content: center;
}

.boxes {
  margin-top: 20px;
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.boxes .box {
  width: 180px;
  height: 180px;
  outline-style: solid;
  outline-color: #3882f6;
  border-radius: 10px;
}

.boxes p {
  font-size: 18px;
  color: #818181;
}

/* third container info */
.qoutecontent {
  background-color: #e5e7eb;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Containerqoute {
  padding: 10px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maintext {
  height: 200px;
  width: 629px;
}

.maintext p {
  color: #1f2937;
  font-size: 36px;
  font-style: light italic;
  text-align: start;
  flex-wrap: wrap;
}

.maintextname {
  align-self: flex-end;
}

.maintextname p {
  font-weight: 900;
  color: #313131;
}

/* Bottom content  */

.bottomcontent {
  background-color: #f9faf8;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.callToActionContainer {
  display: flex;
  width: 800px;
  height: 150px;
  background-color: #3882f6;
  border-radius: 20px;
}

.callToActionContainer.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 2;
  padding-left: 50px;
}

.callToActionContainer.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-right: 20px;
}

.callToActionContainer button {
  padding: 4px 20px;
  background-color: #3882f6;
  border-color: #e5e7eb;
  border-style: solid;
  cursor: pointer;
  border-radius: 8px;
  color: #e5e7eb;
  font-size: 18px;
}

.callToActionContainer .first {
  font-size: 18px;
  color: #f9faf8;
  font-weight: bold;
}

.callToActionContainer p {
  align-items: center;
  color: #e5e7eb;
}

/* Footer content */
.Fottercontent {
  height: 125px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fotterContainer p {
  color: #e5e7eb;
  font-size: 18px;
}
